#footer {
	background-color:#ccc;
	border-top:1px solid #eef;
	text-align:center;
	font-size:1.1em;
	margin-top:40px;
}

#footer_nav {
	text-align:center;
	margin-top:40px;

ul {
	list-style:none;

li {
	display:inline;
	margin-right:30px;
}

}



}