#services {
	border:1px dotted #000;
   margin-top:60px;
 span {
 padding:10px;

 }
  ul li {
  margin-left:20px;

 a {
 
  color:#e6740f;
 }


  }


 
}
#sidebar_service {
	margin-top:80px;
	
	overflow:hidden;
}




#supsystic-table-1_filter {
	padding-top:30px;
	border:none;
	margin-right:40px;

}

#supsystic-table-1_wrapper caption {
	font-size:1.3em;
	color:#000;
	text-shadow:0px 0px 1px rgba(0,0,0,0.5);
}

#sidebar_image {
	background-image:url('../assets/images/photo_services.jpg') ;
        background-repeat: no-repeat;
	height:600px;
	opacity:0.3;
}